/*Colores que no cambian*/
$color-letra: #ffffff;
$color-animacion: #ffffff;


/*Colores modo claro*/
$color-primario: #3761A8;
$color-fondo: #ffffff;
$color-letra-cuerpo: #000000;
$color-buscador: #CACACA;

/*Colores modo oscuro*/
$color-primario-oscuro: rgb(55, 55, 55);
$color-fondo-oscuro: #000000;
$color-letra-cuerpo-oscuro: #ffffff;
$color-buscador-oscuro: rgb(55, 55, 55);